PORT=3000
YUNYI_ADMIN_PASSWORD=请改成强密码
BACKGRACE_API_URL=https://backgrace.com/v1
BACKGRACE_API_KEY=sk-填你的中转站Key
YUNYI_IMAGE_MODEL=gpt-image-2
YUNYI_GEMINI_MODEL=gemini-3-pro-image-preview
YUNYI_PURCHASE_URL=https://你的卡网购买链接
YUNYI_COST_PER_GENERATION=1
